.login-form {
	background: #fff;
	width: 400px;
}
.form-control {
	font-size: 17px;
}
.form-label {
	font-size: 17px;
	margin: 5px;
}
.forgot-pass {
	cursor: pointer;
}
.link-btn {
	text-decoration: none;
	color: black;
	font-weight: 600;
	text-align: center;
}
