.cart-item:hover .remove-item-btn {
	display: block;
}

.remove-item-btn {
	background: none;
	display: none;
	transition: 4s;
}

/* cart button style */
.cart-btn {
	background: none;
	border: none;
	position: relative;
}
.cart-btn .cart-quantity {
	background: #ddd;
	color: #17043c;
	font-weight: bold;
	font-size: 15px;
	padding: 0 6px;
	border-radius: 50%;
	position: absolute;
	top: -5px;
}

.continue-shopping-btn {
	border: none;
	padding: 8px 25px;
	color: white;
	background: orangered;
}
